@media (max-width: 575.98px) {
    .row{
        flex-direction: column !important;
    }
    .white{
        margin-top: 20px !important;
    }
    body{
        background: rgba(255, 218, 185, 0.267);
        padding: 5px !important;
    }
    .button{
        margin-top: 40% !important;
    }
    .answerOne, .answerTwo, .answerThree, .answerFour, .answerFive{
        padding: 10px !important;
        font-size: 10px !important;
    }
    .btn, .btn-red{
        padding: 12px !important;
        font-size: 12px !important;
    }
    .black{
        font-size: 14px !important;
        font-weight: bolder !important;
        padding: 16px !important;
    }
}
@media (min-width: 768px ){
    .row{
        margin-top: 50px !important;
    }
    .column{
        width: 100%
    }
    .button{
        margin-top: 20% !important;
    }
    body{
        background: rgba(255, 218, 185, 0.267);
        padding: 5px !important;
    }
    .body{
        width: 100% !important;
        border-radius: 3px 3px 0px 0px !important;
    }
    .mr{
        margin-right: 20px !important;
    }
}
@media (min-width: 1024px ) {
    .row{
        margin-top: 50px !important;
    }
    .column{
        width: 100%
    }
    .button{
        margin-top: 20% !important;
    }
    body{
        background: transparent !important;
        padding: 5px !important;
    }
    .body{
        width: 70% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 3px 3px 0px 0px !important;
        background: rgba(255, 218, 185, 0.267) !important;
        padding: 5px !important;
    }
    .mr{
        margin-right: 20px !important;
    }
}
@media (min-width: 1300px ){
    .row{
        margin-top: 50px !important;
    }
    .column{
        width: 100%
    }
    .button{
        margin-top: 20% !important;
    }
    body{
        background: transparent !important;
        padding: 5px !important;
    }
    .body{
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        border-radius: 3px 3px 0px 0px !important;
        background: rgba(255, 218, 185, 0.267) !important;
        padding: 5px !important;
    }
    .mr{
        margin-right: 20px !important;
    }
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.white{
    background: white;
    border-radius: 3px;
    padding: 5px 20px;
}
.black{
    background: maroon;
    color: white;
    border-radius: 3px;
    padding: 5px 20px;
}
.btn{
    text-align: center;
    color: white;
    background: navy;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 10px;
    font-weight: bolder;
}
.answerOne, .answerTwo, .answerThree, .answerFour, .answerFive{
    background: transparent;
    width: 100%;
    border: none;
    padding: 20px;
    text-align: left;
    border: none;
}
.answerOne, .answerTwo, .answerThree, .answerFour, .answerFive:hover{
    cursor: pointer;
}
.btn-red{
    text-align: center;
    color: white;
    font-weight: bolder;
    background: maroon;
    width: 100%;
    border: none;
    padding: 20px;
}
.white:hover{
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
}
.final-score{
    text-align: center;
    font-weight: bolder;
}
.numbering{
    font-weight: bolder;
}
.btn:disabled{
    cursor: not-allowed;
}
.questionOne{
    display: none;
}
.active{
    display: block;
}
p{
    margin: 0px;
}